.currency-pair
  border: 1px solid #c1b8b8
  width:  500px
  margin: 100px auto
  border-radius: 10px

  .currency
    margin:          30px
    display:         flex
    justify-content: center

    &__code
      background-color: #cdd0f7
      padding:          10px 20px

    &__price
      border:      1px solid rgba(46, 46, 46, 0.95)
      border-left: none
      text-align:  right
      padding:     9px 20px
      width:       300px
      display:     block


.center
  text-align: center

form
  width: 400px
  margin: auto


